#indicator {
	background-color: #663366;
	position: absolute;
	top: 0;
	right: 0;
	color: #FFFFFF;
	z-index: 100;
	height: auto;
	width: auto;
        margin-top: 0;
        margin-right: 0px;
}

#lt_menu {
	position: absolute;
	top: 0;
	left: 0.5em;
	z-index: 100;
	height: auto;
	width: auto;
        margin-top: 0;
        margin-right: 0px;
}

#lt_menu td {
  padding-right:0.5em;
}


h1 {
  font-size: 153.9%;
  margin-top: 0.5em;
}
